@font-face {
    font-family: "Stolzl";
    src: local("Stolzl Regular"), local("Stolzl-Regular"),
        url("../fonts/Stolzl-Regular.woff2") format("woff2"),
        url("../fonts/Stolzl-Regular.woff") format("woff"),
        url("../fonts/Stolzl-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Stolzl";
    src: local("Stolzl Medium"), local("Stolzl-Medium"),
        url("../fonts/Stolzl-Medium.woff2") format("woff2"),
        url("../fonts/Stolzl-Medium.woff") format("woff"),
        url("../fonts/Stolzl-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
